 body {
    background-color: #fcfaf6 !important;
  }

  .list-group-item {
    border-radius: 8px;
    margin-bottom: 8px;
    background-color: #f5f5f5;
    font-weight: 500;
  }

  .list-group-item.active {
    background-color: #d7091e !important;
    border-color: #d7091e !important;
    color: white !important;
  }

  .list-group-item:hover {
    background-color: #e9ecef;
  }

  .form-control[readonly] {
    background-color: #f9f9f9 !important;
    border-color: #ddd;
    cursor: default;
    text-align: center;
  }

  .form-control-sm {
    height: 32px !important;
    font-size: 0.9rem;
  }
  .card {
    border-radius: 15px;
  }