<!-- Font Awesome CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<body class="bg-gray-50 min-h-screen flex items-center justify-center">

  <div class="bg-white p-6 rounded-xl shadow-md max-w-sm text-center">
    <!-- Icon -->
    <div class="mb-4">
      <i class="fas fa-circle-exclamation text-red-500 text-4xl mx-auto" id="unavailable"></i>
    </div>

    <!-- Title -->
    <h1 class="text-xl font-bold text-gray-800 mb-2">Product Unavailable</h1>

    <!-- Message -->
    <p class="text-gray-600 mb-4 text-sm">{{message}}</p>

    <!-- Action Button -->
    <a href="/" class="bg-blue-600 hover:bg-blue-700  font-semibold py-2 px-4 rounded transition text-sm" style="color: #db831d;">
      Go to Home
    </a>
  </div>

</body>
 <style>
  #unavailable{
        font-size: 161px;
    color: grey;
    margin-top: 48px;
  }
 </style>